export(startEDM)

import(exams)

importFrom("DT","dataTableOutput")
importFrom("DT","renderDataTable")
importFrom("DT","datatable")
importFrom("shiny","navbarPage")#gambiarra
importFrom("shinyjs","useShinyjs")
importFrom("shinyjs","toggleState")
importFrom("shinyjs","info")
importFrom("Ruchardet","detectFileEncoding")
importFrom("markdown","markdownToHTML")
