export(startEDM)

import(
 Ruchardet,
 exams
)

importFrom("DT","dataTableOutput")
importFrom("DT","renderDataTable")
importFrom("shinyjs","runExample")
importFrom("shiny","navbarPage")


